<div class="container">
  <header>Header</header>
  <nav>
    Left menu
  </nav>
  <main>
    <div class="drop-container" (drop)="onDrop($event)" (dragover)="dragOver($event)">
      <p>Drag and Drop your files here</p>
    </div>

    <div class="file-area">
      <p>
        <span *ngFor="let list of selectedFolderList" (click)="backToPrev()">{{list}}&nbsp;</span>
      </p>
      <div class="file-list-container" [contextMenu]="basicMenu">
        <ng-container *ngFor="let file of showList; index as i">
          <div *ngIf="file.type=='folder'" class="folder" (click)="selectDirectory(file)">
            <p>{{file.name}}</p>
          </div>
          <div *ngIf="file.type=='file'" class="file-list">
            <p>{{file.name}}</p>
          </div>
        </ng-container>
        <context-menu>
          <ng-template contextMenuItem (execute)="addFolder()">
            New Folder
          </ng-template>
          <ng-template contextMenuItem>
            Action A
          </ng-template>
          <ng-template contextMenuItem>
            Action B
          </ng-template>
        </context-menu>
      </div>
    </div>
    <div>
      <!-- <div class="DashboardContainer">

      </div> -->
      <button id="uppyModalOpener">
        Open Modal
      </button>
    </div>
  </main>
  <footer>footer</footer>
</div>
